body {
  background-color: #202023;
  margin: 0px;
  color: #ffffff;
  font-family: sans-serif;
  overflow: hidden;
}

#navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  width: 100%;
  background-color: #050D21;
  z-index: 10;
}
#navbar > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#navbar > ul > li {
  float: left;
}
#navbar > ul > li > h2 {
  font-size: 1.5em;
  font-family: "Press Start 2P";
  color: #ccc;
  float: left;
  margin: 4px;
  padding-left: 1em;
  padding-right: .4em;
}
#navbar > ul > li > h3 {
  font-size: 1em;
  font-weight: normal;
  color: #ccc;
  float: left;
  margin: 4px;
  padding-left: 1em;
  padding-right: .4em;
  padding-top: 0.2em;
  cursor: pointer;
}

#control-bar {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  width: 100%;
  background-color: #050D21;
  margin: auto;
  z-index: 10;
}
#control-bar > div {
  float: right;
}
#overlay {
	background-color: #050D21;
	position: absolute;
	width: 50%;
	top: 15%;
	left: 22%;
	border: 2px solid #3d3d42;
	border-radius: 15px;
	padding: 50px;
	font-size: 12px;
	color: #ddd;
	z-index: 10;
	line-height: 1.4;
}

.button {
  text-align: center;
  background-color: #EB4595;
  color: #ffffff;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
  width: 3em;
}

.overlay-button {
  text-align: center;
  background-color: #EB4595;
  color: #ffffff;
  border-radius: 4px;
  padding: 5px 10px;
  margin: 10px;
  cursor: pointer;
}

canvas {
	line-height: 1;
}